body {
    padding: 0;
    margin: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(339deg, rgba(255,64,64,0.5) 0%, rgba(255,193,108,0.5) 100%), url("./src/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

main {
    width: 800px;
    overflow: hidden;
    margin-top: 164px;
    margin-left: calc(50vw - (800px / 2));
    display: grid;
    grid-template-columns: 4fr 5fr;
}

main #leftPanel {
    text-align: center;
    border-top-left-radius: 20px;
    background-color: var(--orange);
    padding: 0 40px;
}

main #rightPanel {
    text-align: right;
    border-top-right-radius: 20px;
    background-color: var(--white);
    padding: 0 40px;
}

main .backButton {
    font-family: Poppins;
    position: absolute;
    left: calc(50vw - (800px / 2) + 24px);
    top: 172px;
    font-size: 48pt;
    text-decoration: none;
    color: var(--red);
    line-height: 1;
    transition-duration: .3s;
}

main .backButton:hover {
    color: var(--dark-brown);
    scale: 1.2;
}

main #leftPanel img {
    width: 220px;
    margin: 40px 0 0 0;
}

main #leftPanel h1 {
    font-size: 28pt;
    margin-top: 0;
}

main #rightPanel h1 {
    font-size: 52pt;
    padding: 0;
    margin-bottom: 0;
    margin-top: 32px;
}

main #leftPanel h2 {
    color: var(--white);
    font-weight: normal;
}

main #rightPanel h2 {
    color: var(--red);
    margin: 0 0 8px 0;
}

main #rightPanel p {
    font-size: 14pt;
    color: var(--grey);
    margin: 0;
    padding: 0;
}

main .footerText:first-of-type {
    background-color: var(--orange);
    text-align: center;
    color: var(--white);
    border-bottom-left-radius: 20px;
}

main .footerText:first-of-type a {
    color: var(--dark-brown);
}

main .footerText:last-of-type {
    background-color: var(--white);
    text-align: right;
    color: var(--grey);
    border-bottom-right-radius: 20px;
}

main .footerText:last-of-type a {
    color: var(--red);
}

main .footerText {
    font-family: Avenir;
    font-size: 10pt;
    margin: 0;
    padding: 16px 40px;
    padding-bottom: 40px;
}

main h1 {
    font-family: Poppins;
    color: var(--dark-brown);
}

main h2, main p{
    font-family: Avenir;
}

:root {
    --white: #FFE7C7;
    --red: #A83A21;
    --orange: #E16E2B;
    --dark-brown: #741B17;
    --grey: #78462E;
}

@font-face {
    font-family: "Poppins";
    src: url("./src/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Avenir";
    src: url("./src/Avenir-Light.ttf");
}

@media only screen and (max-width: 800px) {
    main {
        width: 100vw;
        height: 100vh;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr 1fr;
    }

    main #leftPanel, main #rightPanel {
        border-radius: 0;
        width: calc(100vw - 64px);
        padding: 0 32px;
    }

    main #rightPanel {
        text-align: left;
        overflow: scroll;
    }

    main .backButton {
        top: 16px;
        left: 16px;
    }

    main #leftPanel img {
        position: absolute;
        width: 96px;
        right: 32px;
        top: 32px;
        margin: 0;
        padding: 0;
    }

    main #rightPanel h1 {
        line-height: 1;
    }

    main .footerText {
        border-radius: 0 !important;
        line-height: 4;
        text-indent: 16px;
        padding: 0 !important;
        margin: 0;
        background-color: var(--orange) !important;
        color: var(--white) !important;
        text-align: left !important;
    }
}