main p:not(footer p) {
    width: 80%;
    margin: 0 10% !important;
}

main p a {
    color: var(--red);
}

form {
    display: grid;
    place-items: center;
}

form .row {
    margin: 8px 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 24px;
    place-items: center;
}

form fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

form fieldset .framing_label {
    visibility: hidden;
}

form input:not(form input[type="checkbox"]), form select, form textarea {
    font-family: Poppins;
    font-size: 12pt;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 8px;
}

form input:not(form input[type="textarea"]), form select {
    text-align: center;
}

form input:not(form input[type="checkbox"]):hover, form select:hover {
    cursor: pointer;
    background-color: var(--red);
}

form input[type="checkbox"] {
    accent-color: var(--orange);
}

form textarea {
    width: 256px;
    resize: none;
}

form input[type="number"] {
    width: 64px;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form label {
    font-size: 16pt;
    color: var(--red);
    font-family: Poppins;
    font-weight: bold;
}

#result {
    display: none;
    grid-template-columns: 4fr 3fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
    margin: 0;
    padding: 32px 64px;
}

#result h2, #result h3 {
    grid-column: span 3;
    color: var(--dark-brown);
    margin: 0;
    padding: 0;
}

#result h3 {
    color: var(--red);
    border-bottom: dashed 2px var(--orange);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#result p {
    grid-column: span 1;
    text-align: center;
}

#result .label {
    text-align: right;
}

#result .partial_result {
    color: var(--dark-brown);
}

#follow_up {
    padding-bottom: 16px;
    place-items: center;
    display: none;
}

#follow_up a {
    color: var(--red);
    text-decoration: none;
}

#follow_up a:hover {
    text-decoration: underline;
}

:root {
    --white: #FFE7C7;
    --red: #A83A21;
    --orange: #E16E2B;
    --dark-brown: #741B17;
    --grey: #78462E;
}

@font-face {
    font-family: "Poppins";
    src: url("./src/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Avenir";
    src: url("./src/Avenir-Light.ttf");
}