html {
  background-color: var(--background);
  height: 100%;
  overflow: hidden;
}

/* force body to take up entire screen */
body {
  margin: 0;
  height: 100svh;
  width: 100svw;
  display: grid;
  grid-template-rows: auto auto;
  place-content: center;
}

/* automatically centered by body */
main {
  scroll-behavior: smooth;
  padding: 32px 0;
  width: var(--main_width);
  min-height: var(--main_min_height);
  max-height: var(--main_max_height);
  overflow: auto;
  margin-left: calc(50% - (var(--main_width) / 2));
  background-color: var(--content_box);
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;

  scrollbar-color: #888 transparent;
  scrollbar-width: auto;
}

.backButton {
  color: var(--text_red);
  text-decoration: none;
  font-size: 32pt;
  font-weight: bold;
  position: absolute;
  left: calc((50% - var(--main_width) / 2) + 32px);
}

.backButton:hover {
  color: var(--orange);
}

/* home page */
.homeLogo {
  width: 40%;
  margin: 12px 30% -21px 30%;
  position: relative;
}

.homeDirectory {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 12px;
}

.homeDirectory a {
  width: 100%;
  text-decoration: none;
  color: var(--title_white);
  background-color: var(--button_red);
  border-radius: 8px;
  text-align: center;
  line-height: 3;
  font-weight: bold;
}

.homeDirectory a:hover {
  background-color: var(--orange);
}

.underlineHover {
	text-decoration: none;
}

.underlineHover:hover {
  text-decoration: underline;
}

/* tos page */
.tosSection {
  color: var(--orange);
  font-size: 14pt;
  margin: 0 32px;
  counter-reset: bullet 0;
  counter-increment: section 1;
}

.tosDirectory {
  counter-increment: section 0;
  color: var(--text_red);
}

.bullet {
  counter-reset: subbullet 0;
  counter-increment: bullet;
}

.subbullet {
  counter-increment: subbullet;
  margin-left: 32px;
333}

.tosSection::before {
  content: counter(section) ".0 - ";
}

.bullet::before, .subbullet::before {
  color: var(--orange);
  font-weight: bold;
  margin-right: 4px;
}

.bullet::before {
  content: counter(section) "." counter(bullet);
}

.subbullet::before {
  content: counter(section) "." counter(bullet) counter(subbullet, lower-alpha);
}

/* price sheet page */
.priceSheet .tosWarning {
  background-color: var(--background);
  padding: 8px 0;
  border-radius: 8px;

  margin: 12px 64px;
  padding: 12px 0;
  display: grid;
  place-items: center;
  grid-template-rows: 1.5rem;
}

.priceSheet .tosWarning p {
  color: var(--body_white);
  width: 90%;
  margin: 8px 5%;
}

.priceSheet .tosWarning a {
  background-color: var(--button_red);
  color: var(--body_white);
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;

  padding: 8px 16px;
  margin: 8px 0;
}

.priceSheet .tosWarning a:hover {
  background-color: var(--text_red);
}

.prices {
  padding: 0 32px;
}

.prices .title {
  color: var(--text_red);
  font-size: var(--small_title_size);

  margin: 0;
}

.prices .description {
  color: var(--body_white);
  line-height: 1.5;
  font-size: var(--body_text_size);

  margin: 8px 0;
}

.prices .listing {
  padding: 4px 32px;
  border-radius: 8px;
}

.listing .title .dropperIndicator {
  width: 16px;
  margin-left: -24px;
  margin-right: 8px;

  transform: rotate(0deg);
  transition-duration: .3s;
  transition-property: transform;
}

.prices .listing .title, .prices .listing .cost {
  color: var(--orange);
  font-size: 16pt;

  margin: 0;
  display: inline;
}

.prices .listing .cost {
  float: right;
}

.prices .listing .description {
  color: var(--body_white);
  line-height: 1.5;
  font-size: var(--body_text_size);

  grid-column: span 2;
  margin: 8px 0;
}

.prices .listing .dropperContent {
  grid-column: span 2;

  display: grid;
  column-gap: 8px;
  place-items: center;
  grid-template-rows: 1fr 1fr; 
  
  transition-duration: .3s;
  transition-property: grid-template-rows;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(auto, max-content));
}

.prices .listing .dropperContent img {
  display: none; /* hide until active */
  object-fit: contain;
  width: 100%;
}

.prices .listing:hover .title {
  color: var(--text_red);
}

.prices .listing:hover .cost {
  color: var(--text_red);
}

.prices .active, .prices .listing:hover {
  background: linear-gradient(var(--background), transparent);
  cursor: pointer;
}

.prices .active .title, .prices .active .cost {
  color: var(--text_red) !important;
}

.active .title .dropperIndicator {
  transform: rotate(180deg);
  transition-duration: .3s;
  transition-property: transform;
}

.prices .active .dropperContent {
  grid-template-rows: 1fr 1fr;
  margin-bottom: 8px;
}

.prices .active .dropperContent img {
  transition-property: width;
  transition-duration: .1s;
  display: block;
}

#image_viewer {
  display: none;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

#image_viewer .viewing {
  display: block;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vw;
}

#image_viewer button {
	border: none;
	border-radius: 0;
	cursor: pointer;
	background-color: transparent;
	color: var(--button_red);
	font-size: 28pt;
}

#image_viewer button:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--orange);
}

#image_viewer_quit_btn {
	position: absolute;
	width: 64px;
	height: 64px;
	top: 32px;
	right: 64px;
}

#image_viewer button:not(#image_viewer_quit_btn) {
	height: 256px;
}


#image_viewer_images img {
  display: none;
  margin: auto;
}

/* autoquote page */
#autoquote_form {
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  row-gap: 16px;
  place-items: center;
}

#autoquote_form .row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  place-items: center;
}

/* first row has variable columns/rows */
#autoquote_form .row:first-of-type {
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(auto, max-content));
}

#autoquote_form label {
  text-align: right;
  color: var(--orange);
  font-weight: bold;
  font-size: 14pt;
}

#autoquote_form input[type=number], #autoquote_form select, #autoquote_form input[type=submit] {
  background-color: var(--button_red);
  border: none;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14pt;
  color: var(--body_white);
  border-radius: 8px;
  text-align: center;
  height: 40px;
}

#autoquote_form input[type=submit] {
  padding: 0 16px;
}

#autoquote_form input[type=number] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

#autoquote_form input[type=checkbox] {
  /* remove default appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* custom style */
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

  border-radius: 8px;
  background-color: var(--button_red);
}

#autoquote_form input[type=number]:hover, #autoquote_form input[type=submit]:hover, #autoquote_form input[type=checkbox]:hover, #autoquote_form select:hover {
  background-color: var(--orange);
  cursor: pointer;
}

#autoquote_form input[type=checkbox]:checked {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23D6C9C7" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}

#autoquote_form textarea {
  background-color: var(--background);
  color: var(--body_white);
  font-size: var(--body_text_size);
  font-family: "Montserrat";
  border: none;
  border-radius: 8px;
  resize: vertical;

  padding: 16px;
  line-height: 1.5;
}

/* add character button */
#add_character_btn {
  text-decoration: underline;
  color: var(--text_red);
  font-family: "Montserrat";
  font-size: 10pt;
}

#add_character_btn:hover {
  cursor: pointer;
  color: var(--orange);
}

#results {
  display: none;
  margin: 0 96px;
}

#results #content {
  min-height: 224px;
  width: max-content;
  display: grid;
  place-content: center;
  place-self: center;
}

#results #content h1 {
  font-size: 14pt;
}

#results #content h2 {
  font-size: 12pt;
}

#results #content p {
  font-size: var(--body_text_size);
  white-space: nowrap;
  color: var(--body_white);
  line-height: 1;
}

#results #content p:not(#details) {
  padding: 0 0 0 32px;
}

#results #content p:not(#details)::before {
  content: "-- ";
}

#results #buttons {
  margin: 32px 32px 0 32px;
}

#results #buttons button {
  background-color: var(--button_red);
  color: var(--body_white);
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14pt;
  border: none;
  border-radius: 8px;

  padding: 8px 16px;
  min-width: 128px;
}

#results #buttons button:hover {
  background-color: var(--orange);
  cursor: pointer;
}

#results #buttons button i {
  float: left;
}

#results #buttons button:last-of-type {
  float: right;
}

/* footer/social media */

.socials {
  width: var(--main_width);
  margin: 16px calc(50% - var(--main_width) / 2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.socials a {
  text-decoration: none;
  color: var(--body_white);
  text-align: center;
}

.socials a * {
  width: calc(var(--main_width) / 16);
  font-size: var(--medium_title_size);
  margin: 0;
  padding: 0;
}

.socials a:hover i, .socials a:hover img {
  filter: brightness(200%);
  transition-duration: .1s;
  transform: scale(1.5);
}

.underlineText {
  text-decoration: underline;
}

.centerText {
  text-align: center;
  display: block;
}

/* various text style */
.largeTitle {
  color: var(--title_white);
  font-size: var(--large_title_size);
  margin: 0;
  padding: 0;
}

.mediumTitle {
  color: var(--orange);
  font-size: var(--medium_title_size);
  margin: 0;
  padding: 0;
}

.smallTitle {
  font-weight: bold;
  color: var(--text_red);
  text-decoration: none;
  font-size: var(--small_title_size);
  margin: 0;
  padding: 0;
}

.bodyText {
  color: var(--body_white);
  margin: 8px 64px;
  line-height: 1.5;
  font-size: var(--body_text_size);
}

.bodyText a {
  font-weight: bold;
  color: var(--orange);
  letter-spacing: 0.1ch;
}

.bodyText a:hover {
  color: var(--text_red);
}

.bigLines {
  line-height: 1.5;
}

@media screen and (min-width: 0px) and (max-width: 639px) {
  :root {
    --large_title_size: 26pt;
    --medium_title_size: 22pt;
    --small_title_size: 18pt;
    --body_text_size: 11pt;

    --main_width: 100vw;
  }

  body {
    margin: 0;
    place-content: unset;
    justify-items: center;
    grid-template-rows: 9fr 1fr;
  }

  main {
    border-radius: 0px;
    align-content: center;
  }

  .backButton {
    display: none;
  }

  .homeDirectory {
    width: 95%;
    margin: 0 2.5%;
  }

  #autoquote_form {
    row-gap: 8px;
  }

  #autoquote_form .row {
    grid-auto-flow: row;
    grid-template-columns: 2fr 3fr;
    row-gap: 8px;
  }

  #autoquote_form .row label {
    justify-self: right;
  }

  #autoquote_form .row input, #autoquote_form .row select {
    justify-self: left;
  }

  textarea {
    width: 80vw;
  }

  .tosSection {
    margin: 0 8px;
  }

  .bullet {
    margin-left: 8px;
  }

  .subbullet {
    margin-left: 8px;
  }

  .bodyText {
    margin: 8px;
  }

  .priceSheet .tosWarning {
    border-radius: 0px;
    margin: 8px 0;
  }

  .prices {
    padding: 8px;
  }

  #image_viewer {
	  grid-template-columns: 33vw 33vw 33vw;
	  grid-template-rows: min-content 64px;
	  align-content: center;
  }
  #image_viewer .viewing {
	  max-width: 100vw;
	  max-height: 80vh;
  }
  #image_viewer button {
	  grid-row: 2 / 3;
	  width: 100%;
  }
  #image_viewer button:not(#image_viewer_quit_btn) {
	  height: 64px;
  }
  #image_viewer_quit_btn {
	  grid-column: 3/4;
	  top: auto;
	  right: auto;
  }
}

@media screen and (min-width: 640px) and (max-width: 1199px){
  :root {
    --large_title_size: 26pt;
    --medium_title_size: 22pt;
    --small_title_size: 18pt;
    --body_text_size: 11pt;

    --main_width: 640px;
    --main_min_height: 448px;
    --main_max_height: 78vh;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --large_title_size: 30pt;
    --medium_title_size: 26pt;
    --small_title_size: 21pt;
    --body_text_size: 14pt;

    --main_width: 720px;
    --main_min_height: 504px;
    --main_max_height: 78vh;
  }
}

:root {
  --link_red: #FF0000;
  --button_red: #95594E;
  --text_red: #A56058;
  --orange: #C28266;
  --faint_white: #978580;
  --body_white: #D6C9C7;
  --title_white: #EBE3DF;
  --content_box: #534B45;
  --background: #3F3934;
}

